.container{
    margin-bottom: 100px;
}
.bg-color{
    background-color: #fceae8;
    border-radius: 10px;
}

.carousel-item{
    padding: 10px 20px;
}
.amount{
    color: #ff136f;
}
.buy-button{
    background-image: linear-gradient( to bottom, #ff589B 0%,#ff136f 100%);
    color: white;
    border:none;
    padding: 10px 25px;
    border-radius: 8px;
    cursor: pointer;
     
}

