.container{
   margin-bottom: 100px;
}
.bg-color{
    background-color: #fceae8;
    border-radius: 10px;
}

.carousel-item{
    padding: 10px 20px;

}
.amount{
    color: #ff136f;
}
.buy-button{
    background-image: linear-gradient( to bottom, #ff589B 0%,#ff136f 100%);
    color: white;
    border:none;
    padding: 10px 25px;
    border-radius: 8px;
    cursor: pointer;
     
}

    
.cat-1, .cat-2, .cat-3{
    padding: 10px 20px;
    border-radius: 10px;
}
.cat-1{
    background-color: thistle;
    
}
.cat-2{
    background-color: skyblue;
    

}
.cat-3{
    background-color: magenta;
    
}
.catagories h1{
    color: white;

}
.catagories img{
    width: 100px;
}

.card{
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
}
.card-footer{
    background-color: white;
    border-top: none;
}
#subscribe{
    height: 300px;
}
#subscribe h6{
    color: gray;
}
footer{
    text-align: center;
}






